// variables
$white: #ffffff;
$black: #000000;
$primary-color: #C8E8E5;
$secdonary-color: #3C504C;
$primary-font: 'Roboto', sans-serif;

// general styles
html, body, h1, h2, h3, h4, h5, p, a, li {
   font-family: $primary-font;
}

p, li {
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 1;
   margin-top: 0;
   margin-bottom: 25px;
   font-weight: 400;
}

.section {
   max-width: 1440px;
   // width: 100%;
   margin: 0 auto;
}

.section-inner {
   max-width: 950px;
   width: 100%;
   margin: 0 auto;
}

// banner style
.banner-section {
   text-align: center;
   padding: 100px 20px;
   background-color: $primary-color;

   @media only screen and (max-width: 768px) {
      padding: 80px 20px;   
   }

   .banner-logo {
      max-width: 450px;
      width: 100%;
   }
}

// info banner styles
.info-banner-section {
   background-color: $secdonary-color;
   color: $white;
   text-align: center;
   padding: 20px;

   h2 {
      margin: 0; 
      font-weight: 300;  
      font-size: 20px;
      letter-spacing: 1.5;

      @media only screen and (max-width: 768px) {
         font-size: 18px;   
      }
   }
}

// intro section styles
.intro-section {
   padding: 100px;

   @media only screen and (max-width: 768px) {
      padding: 50px 20px;  
      text-align: center; 
   }

   h3 {
      margin: 0;
      margin-bottom: 35px; 
      font-weight: 400;  
      font-size: 38px;
      letter-spacing: 0.3;
      color: $secdonary-color;
      border-bottom: 2px solid $secdonary-color;
      display: inline-block;

      @media only screen and (max-width: 768px) {
         font-size: 30px;   
      }
   }

   p {
      color: $secdonary-color;
   }
}

// values section styles
.values-section {
   padding: 100px;
   background-color: $secdonary-color;

   @media only screen and (max-width: 768px) {
      padding: 50px 20px;  
      text-align: center; 
   }

   h3 {
      margin: 0;
      margin-bottom: 35px; 
      font-weight: 400;  
      font-size: 38px;
      letter-spacing: 0.3;
      color: $white;
      border-bottom: 2px solid $white;
      display: inline-block;

      @media only screen and (max-width: 768px) {
         font-size: 30px;   
      }
   }

   p, li {
      color: $white;
   }
}

// contect section styles
.contact-section {
   padding: 100px;
   background-color: $primary-color;
   text-align: center;

   @media only screen and (max-width: 768px) {
      padding: 80px 20px;   
   }

   h4 {
      margin: 0;
      margin-bottom: 30px; 
      font-weight: 400;  
      font-size: 34px;
      letter-spacing: 0.3;
      color: $secdonary-color;

      @media only screen and (max-width: 768px) {
         font-size: 28px;   
      }
   }

   a {
      margin-bottom: 20px;
      display: block;
      font-size: 18px;
      text-decoration: none;
      color: $secdonary-color;
   }

   .contact-logo {
      max-width: 300px;
      width: 100%;
      margin-bottom: 30px;
   }
}

// scroll to top button styles
#scrollToButton {
   position: fixed;
   bottom: 5%;
   right: 5%;
   background-color: $white;
   padding: 0;
   border-radius: 50%;
   border: none;
   cursor: pointer;

   img {
      width: 40px;

      @media only screen and (max-width: 768px) {
         width: 30px;
      }
   }
}